[submodule "3 веб/лабораторные/lab1"]
	path = 3 веб/лабораторные/lab1
	url = https://github.com/maxbarsukov-itmo/web-1
[submodule "3 веб/лабораторные/lab2"]
	path = 3 веб/лабораторные/lab2
	url = https://github.com/maxbarsukov-itmo/web-2
[submodule "3 веб/лабораторные/lab3"]
	path = 3 веб/лабораторные/lab3
	url = https://github.com/maxbarsukov-itmo/web-3
[submodule "3 веб/лабораторные/lab4"]
	path = 3 веб/лабораторные/lab4
	url = https://github.com/maxbarsukov-itmo/web-4
[submodule "4 опи/лабораторные/lab2"]
	path = 4 опи/лабораторные/lab2
	url = https://github.com/maxbarsukov-itmo/mispi-2
[submodule "4 опи/лабораторные/lab3"]
	path = 4 опи/лабораторные/lab3
	url = https://github.com/maxbarsukov-itmo/mispi-3
