# Auto detect text files and perform LF normalization
* text=auto
4[[:space:]]опи/лекции/Лекции[[:space:]]по[[:space:]]ОПИ[[:space:]]v1.4.0[[:space:]](с[[:space:]]поиском[[:space:]]по[[:space:]]тексту).pdf filter=lfs diff=lfs merge=lfs -text
