[submodule "3 веб/лабораторные/lab1"]
	path = 3 веб/лабораторные/lab1
	url = https://github.com/maxbarsukov-itmo/web-1
[submodule "3 веб/лабораторные/lab2"]
	path = 3 веб/лабораторные/lab2
	url = https://github.com/maxbarsukov-itmo/web-2
[submodule "3 веб/лабораторные/lab3"]
	path = 3 веб/лабораторные/lab3
	url = https://github.com/maxbarsukov-itmo/web-3
[submodule "3 веб/лабораторные/lab4"]
	path = 3 веб/лабораторные/lab4
	url = https://github.com/maxbarsukov-itmo/web-4
[submodule "4 опи/лабораторные/lab2"]
	path = 4 опи/лабораторные/lab2
	url = https://github.com/maxbarsukov-itmo/mispi-2
[submodule "4 опи/лабораторные/lab3"]
	path = 4 опи/лабораторные/lab3
	url = https://github.com/maxbarsukov-itmo/mispi-3
[submodule "4 опи/лабораторные/lab4"]
	path = 4 опи/лабораторные/lab4
	url = https://github.com/maxbarsukov-itmo/mispi-4
[submodule "4 архитектура компьютера/lab3"]
	path = 4 архитектура компьютера/lab3
	url = https://github.com/maxbarsukov/csa3-stack-machine
[submodule "5 фп/лабораторные/lab0"]
	path = 5 фп/лабораторные/lab0
	url = https://github.com/maxbarsukov-itmo/functional-programming-0
[submodule "5 фп/лабораторные/lab1"]
	path = 5 фп/лабораторные/lab1
	url = https://github.com/maxbarsukov-itmo/functional-programming-1
[submodule "5 фп/лабораторные/lab2"]
	path = 5 фп/лабораторные/lab2
	url = https://github.com/maxbarsukov-itmo/functional-programming-2
[submodule "5 фп/лабораторные/lab3"]
	path = 5 фп/лабораторные/lab3
	url = https://github.com/maxbarsukov-itmo/functional-programming-3
[submodule "5 информационные системы/курсовая"]
	path = 5 информационные системы/курсовая
	url = https://github.com/maxbarsukov/MyFilmList
[submodule "5 фп/лабораторные/lab4"]
	path = 5 фп/лабораторные/lab4
	url = https://github.com/maxbarsukov/radish-db
[submodule "5 встроенные системы/проект"]
	path = 5 встроенные системы/проект
	url = https://github.com/maxbarsukov/sleepy
[submodule "5 информационные системы/лабораторные/lab1"]
	path = 5 информационные системы/лабораторные/lab1
	url = https://github.com/maxbarsukov-itmo/information-systems-labs
	branch = lab-1
[submodule "5 информационные системы/лабораторные/lab2"]
	path = 5 информационные системы/лабораторные/lab2
	url = https://github.com/maxbarsukov-itmo/information-systems-labs
	branch = lab-2
[submodule "5 информационные системы/лабораторные/lab3"]
	path = 5 информационные системы/лабораторные/lab3
	url = https://github.com/maxbarsukov-itmo/information-systems-labs
	branch = lab-3
