# Log files
*.log

# Object files
*.o

# Executable
pa5

# Archive
pa*.tar.gz

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# CLion
.idea
cmake-build-*
