apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app
spec:
  replicas: ${APP_REPLICAS}
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
      - name: python-app
        image: ${APP_IMAGE}
        imagePullPolicy: Never
        ports:
        - containerPort: ${APP_PORT}
        envFrom:
        - configMapRef:
            name: app-config
        - secretRef:
            name: app-secrets
