### Java ###
.mtj.tmp/
*.nar
hs_err_pid*
replay_pid*

### Directories ###
*.class
target/
libs/
tmp/
node_modules/

### Package Files ###
*.jar
*.war
*.ear
*.db
rebel.xml

### Gradle ###
.gradle
.gradletasknamecache
gradle-app.setting
build/
buildSrc/build
/spring-*/build
/framework-*/build
/integration-tests/build
/src/asciidoc/build
spring-test/test-output/
!gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
.idea_modules
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.code-workspace

### Log files ###
jxl.log
jmx.log
derby.log

### OS Files ###
.DS_Store
Thumbs.db
Desktop.ini
.svn
._*

### Env ###
.env
.env.production

### Misc ###
*.java.hsp
*.sonarj
*.sw*
ivy-cache
argfile*
activemq-data/
classes/
.wakatime-project
